echo strict-peer-dependencies=false > .npmrc
echo auto-install-peers=true >> .npmrc
echo prefer-workspace-packages=true >> .npmrc
echo save-workspace-protocol=rolling >> .npmrc
echo shared-workspace-lockfile=true >> .npmrc
